---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.group_by { |article| article.date.strftime("%Y") }.each do |year, articles| %>
  <h4 class="row col-sm-6 justify-content-center top-buffer" style="font-family: monospace;"><%= year %></h4>
  <% articles.each do |article| %>
    <div class="row justify-content-center top-buffer">
      <div class="card col-sm-6">
        <div class="card-block">
          <h4 class="card-title"><%= link_to article.title, article %></h4>
          <h6 class="card-subtitle"><%= article.date.strftime('%b %e') %></h6>
        </div>
        <h2> <span></span></h2>
      </div>
    </div>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
